
.section1{
    height: 500px;
    margin-bottom: 100px;
}
.section2{
    height: 500px;
    margin-bottom: 20px;

}
.section3{
    height: 500px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 210px;
    background-position-y: 50px;
    background-position-x: 45px;
}
.section4{
    height: 500px;
    height: 500px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 18%;
    background-position-y: 260px;
    background-position-x: 1050px;

}
.section5{
    height: 500px;
    margin-bottom: 150px;
    background-image: url(images/shape-2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12%;
    background-position-x: 50px;
    background-position-y: 50px ;

}
.flexible-container{
    display: flex;
}
.container1{
    width: 40%;
    margin-top: 100px;
    padding-left: 10%;
}
.container2{
    width: 30%;
    margin-top: 0%;
    padding-left: 5%;
}
.heading{
    font-family: 'Lora', serif;
    font-size: 60px;
    padding-left: 10px;
    color: rgb(24, 18, 18);
}
h1{
    font-size: 40px;
    line-height: 50%;
    font-family: 'Poppins', sans-serif;

}
.chocolate-color{
    color: chocolate;
}
.side-border{
    border-left: 4px solid tomato;
    border-image: tomato;
    border-image-slice: 1;
    height: 120px;
}
p{  
font-family: 'Poppins', sans-serif;
    color: #2c2b2b;
}
.explore-link{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(tomato,salmon);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}
.img{
    width: 100%;
}
.deepblue-color{
    font-family: 'Poppins', sans-serif;
    color: rgb(29, 13, 59);
    text-align: center;
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.card-system{
    margin-left: 10%;
    margin-top: 5%;
}
.illustrator-img{
    height: 120px;
    width: 120px;
}
h3{
    font-family: 'Poppins', sans-serif;
}
#card-1{
    width: 22%;
    height: 350px;
    background-color: rgb(177, 225, 253);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-right: 40px;

}
#card-2{
    width: 22%;
    height: 350px;
    background-color: rgb(253, 177, 240);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-right: 40px;

}
#card-3{
    width: 22%;
    height: 350px;
    background-color: burlywood;  
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-right: 40px;

}
.container3{
    width: 30%;
    margin-top: 0%;
    padding-left: 10%;
}
.container4{
    width: 40%;
    padding-left: 6%;
}
.container5{
    padding-left: 10%;
    width: 40%;
    margin-top: 10px;

}
.container6{
    width: 30%;
    padding-left: 10%;
}
.container7{
    width: 30%;
    padding-left: 10%;


}
.container8{
    width: 40%;
    padding-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
}
.challenge-img{
    height:350px;
    width: 450px;
    border-radius: 20px;
}
.challenge{
    padding-bottom: 5%;
}
.footer{
    height: 150px;
    background-color: black;

}
.footer-heading{
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    text-align: center;
    color: white;
    padding-top: 40px;
}
.footer-paragraph{
    color: white;
    text-align: center;
}
.tomato-color{
    color: tomato;
}